<footer class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-6 float-left developer">
                Developer : Hojiakbar Karimov
            </div>
            <div class="col-md-6 float-right font-awesome-icon">
                <i class="fa fa-twitter"></i> 
                <i class="fa fa-facebook"></i>
                <i class="fa fa-instagram"></i>
                <i class="fa fa-linkedin"></i>
                <i class="fa fa-telegram"></i>
            </div>
        </div>
    </div>

</footer>