<header>
<div class="container-fluid evos-brand">
    <div class="container">
   <nav class="navbar navbar-expand-lg ">
        <div class="container row">
        <div class="float-left logo">
            <img class="img-fluid"  src="evos_logo-horizontal_42x250.png" alt="">
        </div>
        <div class="evos-navigation">
              
                    <ul>
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/menu">Menu</a>
                        </li>
                       
                        <li>
                            <a href="/about">About</a>
                        </li>
                        <li>
                            <a href="/contact">Contact Us</a>
                        </li>
                    </ul>
           
           
        </div>
        <div class="float-right">
            <div class="evos-navigation">
                <ul>
                    <li>
                <a href="">Log In</a>
                    </li>
                    <li>
                       <span>or</span>
                    </li>
                    <li>
             <a href="">Sign Up</a>
                    </li>
                </ul>
          
            </div>
            
        </div>
    </div>
   </nav>
   </div>
   
   
</div>

</header>